{% extends 'base.html.twig' %}

{% block title 'Toutes les randonnées' %}

{% block body %}
    <div class="container mt-3">
        <h1>Toutes les randonnées</h1>
        <h2>In Hikes Index </h2>
        
        <div class="jumbotron">
            <div class="container">
                {{ form_start(form) }}
                    <div class="form-row">
                        <div class="col-md-3">
                            {{ form_row(form.difficulty) }}
                        </div>
                        <div class="col_md-3">
                            {{ form_row(form.postalCode) }}
                        </div>
                    </div>
                    <button class="btn btn-secondary mt-4">Rechercher</button>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="row flex">
            {% for hike in hikes %}
                <div class="col-3">
                    <div class="card-body">
                        <h4 class="card-title">    
                            <a href="{{ path('hike_show', {id: hike.id}) }}">{{ hike.title }}</a>
                        </h4>
                        <p class="card-text">{{ hike.city }}, {{ hike.distance }}km</p>
                        <div class="text-alert">Difficulté: {{ hike.difficulty }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}